<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--sysadmin.ejs is inside admin folder, go up 1 level to find partials-->
    <%- include('../partials/header.ejs') %>

    <title>System Admin</title>
  </head>
  <body>
    <h1>List of Users</h1>

  <!--Button--> 
  <!--Display all users inDB-->
   <a href = "/admin/listUsers" class="btn btn-outline-primary">List Users</a>

   <%= JSON.stringify(users) %>

<%- include('../partials/scripts.ejs') %>
  </body>
</html>